.clear-button {
    background: Transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}