li.liButton {
    list-style-type: none;
    border: 0px 5px;
}
button.liButton {
    background: Transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

table.cardTable {
    width: 100%;
    border:none;
    border-collapse: collapse;
}
th.cardTable{
    border-bottom: 1px solid #ddd;
    text-align: left;
}
td.cardTable {
    vertical-align: top;
    padding: 0px;
    border-bottom: 1px solid #ddd;
}
.cardTable tr:hover {background-color: #f5f5f5;}
table.cardTable td.cardTable + td.cardTable,
table.cardTable th.cardTable + th.cardTable  { border-left:2px solid black; }
textarea.cardTable {
    width: 99%;
    resize: vertical;
    border: 0px solid black;
}