:root {
    --col9: #206b00;
    --col7: #3a9104;
    --col5: #68b723;
    --col3: #9dbb4d;
    --col1: #d1ff82;
}

.h100 {height: 100%;}


h1.cardList {
    background-color: var(--col9);
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    padding: 8px;
}
div.cardList {
    background-color: var(--col7);
}
Button.cardList {
/*     background-color: var(--col3); */
    color: white;
    width: 100%;
}
ul.cardList {
    background-color: var(--col5);
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0px 2px;
}

li.liButton {
    padding: 2px;
}
button.liButton {
    color: white;
    font-size: 18px;
    background: Transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#full {
    height: 100%; width: 100%; position: relative;
    display: flex;
    justify-content: center;
    align-items: center;}
#empty {
    max-width: 50%;
    position:absolute;
    top:42%;
}
h1.cardView {
    background-color: var(--col9);
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    padding: 8px;
}
#buttonBar {
    width: 100%;
    background-color: var(--col7);
    color: white;
}
Button.cardView {
    background-color: var(--col3);
    color: white;
}

table.cardTable {
    width: 100%;
    border:none;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
}
th.cardTable{
    text-align: left;
    background-color: var(--col5);
    color: white;
    padding: 8px;
}
td.cardTable {
    vertical-align: top;
    padding: 0px;
    border-bottom: 1px solid #ddd;
}
tbody.cardTable {overflow-y: auto;}
table.cardTable td.cardTable + td.cardTable { border-left:2px solid black; }
table.cardTable tbody.cardTable {overflow-y: scroll;}
.cardTable tr:hover {background-color: #f5f5f5;}
.cardTable td:first-child {padding: 8px}
textarea.cardTable {
    width: 99%;
    height: 99%;
    resize: vertical;
    border: 0px solid black;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
